body{
    background-color: #fbf7c1;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: normal;
    gap: 16px;
}

.item-1 {
    flex-basis: 100px;
}

.item-2 {
    flex-basis: 100px;
}

.item-3 {
    flex-basis: 100px;
}

.imgs{
    height: 100px;
}

@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
p{
    font-size: 30px;
    text-align: center;
    font-family:'pokemon solid', sans-serif ;
    color: #efad33;
    letter-spacing: 2px;
    text-shadow: 1px 1px 0.5px rgb(112, 92, 1);
}

