.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 16px;
    height: 750px;
}

.imgs{
    height: 100px;
}

body{
    background-color: hwb(308 78% 0%)
}

@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
p{
    font-size: 30px;
    text-align: center;
    font-family:'pokemon solid', sans-serif ;
    color: hsl(308, 97%, 27%);
    letter-spacing: 3px;
    text-shadow: 1px 1px 0.5px rgb(112, 92, 1);
}