.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
}

.imgs{
    height: 100px;
}

.imgs1{
    height: 75px;
}

body{
    background-color: #d4d4d4
}

@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
p{
    font-size: 30px;
    text-align: center;
    font-family:'pokemon solid', sans-serif ;
    color: #000000;
    letter-spacing: 3px;
    text-shadow: 1px 1px 0.5px rgb(112, 92, 1);
}