grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.item-7 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.item-10 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item-11 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

body{
    background-color: #cad3fd
}

@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
p{
    font-size: 30px;
    text-align: center;
    font-family:'pokemon solid', sans-serif ;
    color: #00137c;
    letter-spacing: 3px;
    text-shadow: 1px 1px 0.5px rgba(47, 0, 53, 0.274);
}

.imgs{
    height: 100px;
}
