.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
}

.item-24 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
}

.item-25 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
}

.item-26 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
}

.item-27 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
}

body{
    background-color: #fde5ca
}

@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
p{
    font-size: 30px;
    text-align: center;
    font-family:'pokemon solid', sans-serif ;
    color: #7c4600;
    letter-spacing: 3px;
    text-shadow: 1px 1px 0.5px rgba(47, 0, 53, 0.274);
}